.container {
  max-width: 540px;
}
/* row 1 header >> header-top >> navbar
======================================== */
.header-top nav ul{
  position: absolute;
  top: -50px;
  right: -320px;
  bottom: -643px;
  z-index: 10;
  background-color: #1c1c28;
	flex-direction: column;
	width: 16rem;
	padding-top: 2rem;
	transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
}
.header-top nav ul li{
	border: none;
}

/* row 1 header >> header-top >> nav contact us btn
======================================== */
.contact-us_btn{
  display: none;
}
/* row 1 header >> header-top >> hamburge menu icon 
======================================== */
.header-top > span {
	display: block;
}
.header-top > span i{
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
}
/* row 1 header >> header-bottom
======================================== */
.header-bottom{
  display: flex;
	flex-direction: column;
	align-items: center;
}
/* row 2 main
======================================== */
/* row 2 >> how it work section */
.work-title span{
	font-size: 25px;
}
.work-process_wrapper{
	flex-direction: column;
	align-items: center;
}
.work-process{
	margin-top: 2rem;
	/* max-width: 80%; */
}

.work-pic_wrapper{
	flex-direction: column;
	align-items: center;
}
.work-pic{
	margin-top: 2rem;
}
/* comments */
.comments-body{
  max-width: 80%;
	margin: 2rem auto 0;
  background-color: #27273a;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 7px 8px 10px 0px #373851;
}