/* Project reset code */
::selection{
  background-color: #32334d;
  color: #2cc06a;
}
:root {
	--gradient-shadow: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: KalamehWeb;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  /* height: 100px;
  background-color: blueviolet; */
}

/* row 1 header
======================================== */
header{
  background: url("../images/head-bg.jpg") center/cover no-repeat;
  padding: 3rem 0;
}
/* row 1 header >> header-top >> navbar
======================================== */
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32334d80;
  backdrop-filter: blur(5px);
  padding: 0.8rem 2rem;
  border-radius: 50px;
}
.header-top nav{
  display: flex;
  align-items: center;
}
.header-top nav .brand-logo{
  margin-left: 1rem;
}
.header-top nav ul{
  display: flex;
}
.header-top nav ul li{
  padding: 1rem 1rem;
  border-left: 1px solid #27273a;
}
.header-top nav ul li:nth-child(4){
  border-left: none;
}
.header-top nav ul li a{
  color: #b6b6ba;
  transition: 0.3s;
  font-size: 15px;
}
.header-top nav ul li a:hover{
  color: #1bc565;
  transition: 0.3s;
}
/* row 1 header >> header-top >> nav contact us btn
======================================== */
.contact-us_btn{
  width: 8rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #0e96f1;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}
.contact-us_btn a{
  color: #0e96f1;
  transition: 0.3s;
}
.contact-us_btn:hover{
  background-color: #0e96f1;
  transition: 0.3s;
}
.contact-us_btn:hover a{
  color: #fff;
  transition: 0.3s;
}
/* row 1 header >> header-top >> hamburge menu icon 
======================================== */
.header-top > span {
  display: none;
}
/* row 1 header >> header-bottom
======================================== */
.header-bottom{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 3rem 0 0;
  background-color: #32334d80;
  backdrop-filter: blur(5px);
  padding: 1rem 2rem;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}
/* row 1 header >> header-bottom >> left section
======================================== */
.header-bottom_left{
  max-width: 20rem;
}
.header-bottom_left img{
  width: 100%;
  display: block;
}
/* row 1 header >> header-bottom >> right section
======================================== */
.header-right_wrapper{
  max-width: 30rem;
}
.header-right_wrapper h1{
  color: #1bc565;
  font-size: 30px;
  margin-top: 0;
  font-family: KalamehWeb;
	font-style: normal;
	font-weight: 700;
}
.header-right_wrapper p{
  text-align: justify;
  line-height: 24px;
  word-spacing: 3px;
  color: #b6b6ba;
  font-size: 15px;
  margin-top: 0;
  font-family: KalamehWeb;
	font-style: normal;
	font-weight: 600;
}
/* row 2 main
======================================== */
/* row 2 >> how it work section */
.how-it_work{
  padding: 3rem 0;
  background-color: #1c1c28;
}
/*how it work title*/
.work-title{
  text-align: center;
}
.work-title h5{
  margin-top: 0;
  font-family: KalamehWeb;
	font-style: normal;
	font-weight: 500;
  color: #ffffff;
}
.work-title span{
  font-size: 30px;
  font-family: KalamehWeb;
	font-style: normal;
	font-weight: 700;
  color: #1bc565;
}
/* process work section  */
.work-process_wrapper{
 display: flex;
 justify-content: space-around;
 max-width: 70rem;
 margin: 4rem auto 0;
}
.work-process{
  text-align: center;
  max-width: 18rem;
  border: 1px solid #32334d;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0px 10px 1px #373851;
}
.work-process h4{
  margin-top: 0;
  color: #fff;
  position: relative;
}
.work-process h4::after{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #32334d;
  position: absolute;
  left: 0;
  top: 30px;
}
.work-process p{
  color: #b6b6ba;
  margin-bottom: 0;
  text-align: justify;
}
/* how it work section pic */
.work-pic_wrapper{
 display: flex;
 justify-content: space-around;
 max-width: 70rem;
 margin: 4rem auto 0;
 border-radius: 1rem;
}
.work-pic{
  max-width: 18rem;
  box-shadow: 0 0px 24px 9px #373851; 
}
.work-pic img{
  width: 100%;
  display: block;
}